services:

  node-base:
    image: 'druzabni/node-base:local'
    build:
      context: docker-images/node-base
      dockerfile: Dockerfile
      args:
        - ARG_NODE_VERSION=14.18.1-alpine3.12
        - ARG_OMZSHD_VERSION=1.1.2
